img {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
    width: 1128px;
}

.gallery-image {
    width: 360px;
    height: 200px;
    transform-origin: 50% 50%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
    transform: scale(1.04);
}

.galleryLightbox {
    background: rgba(46, 47, 66, 0.8);
    color: #fff;
}
