/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("./header.css");
@import url("./01-timer.css");
@import url("./02-snackbar.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.main-margin {
    margin-left: 75px;
}

.main-container {
    max-width: 1128px;
    margin: 0 auto;
}

.go-home-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}

.go-home {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.go-home:hover,
.go-home:focus {
    color: #747bff;
}

.go-home:active {
    color: #2d5bff;
}

.trans-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.trans-js {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.trans-js:hover {
    transform: rotate(180deg);
}

.standard-button {
    font: inherit;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 16px;
    background-color: #4e75ff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.standard-button:hover,
.standard-button:focus {
    background-color: #6c8cff;
}

.standard-button:active {
    background-color: #2d5bff;
}

.standard-button:disabled {
    background-color: #cecece;
    color: #b0b0b0;
}

.intro-text-snackbar {
    margin-bottom: 22px;
}
